<div class="row pt-2">
  <div class="col-md-12">
    <h4 class="text-center">Payment Getway Info</h4>
    <hr>
    <a class="btn btn-outline-primary btn-sm" routerLink="../paymentgetway/create"><i class="fas fa-plus"></i> Create Payment Getway</a>
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" style="width:100%">
      <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let paymentGetway of paymentGetways">
            <td>{{ paymentGetway.name }}</td>
            <td> 
              <a (click)="edit(paymentGetway.id)" class="btn btn-outline-info btn-sm" style="margin-right: 3px;"><i class="far fa-edit"></i> Edit</a>
              <a (click)="delete(paymentGetway.id)" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</a>
            </td>
          </tr>
      </tbody>
      <tfoot>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
      </tfoot>
    </table>
  </div>
</div>