<div class="row mt-2">
  <div class="col-md-12">
    <h4 class="text-center">Update Customer</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form method="post" [formGroup]="customerEditFormGroup" class="row g-3">
          <input type="hidden" name="id" formControlName="id">
          <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" formControlName="name" class="form-control">
            <span *ngIf="customerEditFormGroup.get('name')!.invalid && customerEditFormGroup.get('name')!.touched" class="text-danger">Name is required. (Minumam 2 and Maximum 20 character)</span>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" formControlName="email" class="form-control">
            <span *ngIf="customerEditFormGroup.get('email')!.invalid && customerEditFormGroup.get('email')!.touched" class="text-danger">Email is required. (Minumam 11 character)</span>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" class="form-control">
            <span *ngIf="customerEditFormGroup.get('phoneNumber')!.invalid && customerEditFormGroup.get('phoneNumber')!.touched" class="text-danger">Phone number is required.</span>
          </div>
          <div class="col-md-12">
            <label for="address" class="form-label">Address</label>
            <textarea type="text" id="address" name="address" formControlName="address" class="form-control" placeholder="1234 Main St"></textarea>
            <span *ngIf="customerEditFormGroup.get('address')!.invalid && customerEditFormGroup.get('address')!.touched" class="text-danger">Address is required. (Minumam 2 and Maximum 50 character)</span>
          </div>
          <div class="col-md-12">
            <button type="submit" (click)="edit()" [disabled]="customerEditFormGroup.invalid" class="btn btn-success">Update</button>
            <a class="btn btn-primary" routerLink="../../../customers" style="margin-left: 5px;">Back To List</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>