<div class="row pt-2">
  <div class="col-md-12">
    <h4 class="text-center">Create Payment Getway</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form method="post" [formGroup]="paymentGetwayCreateForm" class="row g-3" autocomplete="off">
          <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" formControlName="name"
              [ngClass]="{'form-control': true, 'is-invalid': !name.valid && name.touched || isExistName, 'is-valid': name.valid}">
            <span *ngIf="name.errors?.required && name.touched" class="text-danger"> Name is required. </span>
            <span *ngIf="name.hasError('minlength') && name.touched" class="text-danger"> Minumam 2 character. </span>
            <span *ngIf="name.hasError('maxlength') && name.touched" class="text-danger"> Maxumam 20 character. </span>
            <span *ngIf="isExistName" class="text-danger"> Name is allready exist. </span>
          </div>
          <div class="col-md-12">
            <button type="submit" (click)="savePaymentGetway()" [disabled]="paymentGetwayCreateForm.invalid || isExistName" class="btn btn-success">Submit</button>
            <a class="btn btn-primary" routerLink="../../paymentgetways" style="margin-left: 5px;">Back To List</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>