<div class="row pt-3">
  <div class="col-md-12">
    <h5 class="display-6 text-center">Restaurant Orders Dashboard</h5>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card border-info text-center mb-3">
      <div class="card-header">Customer Info</div>
      <div class="card-body">
        <h5 class="card-title">Total Customer - {{ totalCustomer }}</h5>
        <a class="btn btn-outline-secondary btn-sm" routerLink="../customers"><i class="fas fa-user-circle"></i> Details</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-info text-center mb-3">
      <div class="card-header">Payment Getway Info</div>
      <div class="card-body">
        <h5 class="card-title">Total Payment Getway - {{ totalPaymentGetway }}</h5>
        <a class="btn btn-outline-secondary btn-sm" routerLink="../paymentgetways"><i class="fas fa-money-check-alt"></i> Details</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-info text-center mb-3">
      <div class="card-header">Product Info</div>
      <div class="card-body">
        <h5 class="card-title">Total Product - {{ totalProduct }}</h5>
        <a class="btn btn-outline-secondary btn-sm" routerLink="../products"><i class="fab fa-product-hunt"></i> Details</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-info text-center mb-3">
      <div class="card-header">Order Info</div>
      <div class="card-body">
        <h5 class="card-title">Total Order - {{ totalOrder }}</h5>
        <a class="btn btn-outline-secondary btn-sm" routerLink="../orders"><i class="fas fa-shopping-basket"></i> Details</a>
      </div>
    </div>
  </div>
</div>