<div class="row pt-2">
  <div class="col-md-12">
    <h4 class="text-center">Update Payment Getway</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form method="post" [formGroup]="paymentGetwayEditFormGroup" class="row g-3" autocomplete="off">
          <input type="hidden" name="id" formControlName="id">
          <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" formControlName="name"
              [ngClass]="{'form-control': true, 'is-invalid': !name.valid && name.touched, 'is-valid': name.valid}">
            <span *ngIf="name.errors?.required && name.touched" class="text-danger"> Name is required. </span>
            <span *ngIf="name.hasError('minlength') && name.touched" class="text-danger"> Minumam 2 character. </span>
            <span *ngIf="name.hasError('maxlength') && name.touched" class="text-danger"> Maxumam 20 character. </span>
          </div>
          <div class="col-md-12">
            <button type="submit" (click)="edit()" [disabled]="paymentGetwayEditFormGroup.invalid" class="btn btn-outline-success btn-sm"><i class="far fa-save"></i> Update</button>
            <a class="btn btn-outline-primary btn-sm" routerLink="../../../paymentgetways" style="margin-left: 5px;"><i class="fas fa-list"></i> Back To List</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>