<div class="row mt-2">
  <div class="col-md-12">
    <h4 class="text-center">Create Customer</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form method="post" [formGroup]="customerCreateForm" class="row g-3" autocomplete="off">
          <input type="hidden" name="id" formControlName="id">
          <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" formControlName="name"
              [ngClass]="{'form-control': true, 'is-invalid': !name.valid && name.touched, 'is-valid': name.valid}">
            <span *ngIf="name.errors?.required && name.touched" class="text-danger"> Name is required. </span>
            <span *ngIf="name.hasError('minlength') && name.touched" class="text-danger"> Minumam 2 character. </span>
            <span *ngIf="name.hasError('maxlength') && name.touched" class="text-danger"> Maxumam 20 character. </span>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" formControlName="email" 
              [ngClass]="{'form-control': true, 'is-invalid': !email.valid && email.touched || isExistCustomerEmail, 'is-valid': email.valid}">
            <span *ngIf="email.errors?.required && email.touched" class="text-danger"> Email is required. </span>
            <span *ngIf="email.hasError('minlength') && email.touched" class="text-danger"> Minuam 11 character is required. </span>
            <span *ngIf="email.errors?.pattern && email.touched" class="text-danger"> Enter valid email. </span>
            <span *ngIf="isExistCustomerEmail" class="text-danger"> Email is allready exist. </span>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" 
              [ngClass]="{'form-control': true, 'is-invalid': !phoneNumber.valid && phoneNumber.touched, 
              'is-valid': phoneNumber.valid}">
            <span *ngIf="phoneNumber.errors?.required && phoneNumber.touched" class="text-danger"> Phone number is required. </span>
            <span *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched" class="text-danger"> Enter valid phone number. </span>
          </div>
          <div class="col-md-12">
            <label for="address" class="form-label">Address</label>
            <textarea type="text" id="address" name="address" formControlName="address" placeholder="1234 Main St"
              [ngClass]="{'form-control': true, 'is-invalid': !address.valid && address.touched, 'is-valid': address.valid}"></textarea>
            <span *ngIf="address.errors?.required && address.touched" class="text-danger"> Address is required. </span>
            <span *ngIf="address.hasError('minlength') && address.touched" class="text-danger"> Minumam 2 character is required. </span>
          </div>
          <div class="col-md-12">
            <button type="submit" (click)="saveCustomer()" [disabled]="customerCreateForm.invalid || isExistCustomerEmail" class="btn btn-success">Submit</button>
            <a class="btn btn-primary" routerLink="../../customers" style="margin-left: 5px;">Back To List</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>